body {
  font-family: "Klee One", cursive;
}

h1 {
  color: aliceblue;
  font-weight: bold;
  font-size: 35px;
  text-align: right;
  padding: 5px 0;
  margin: 5px 5px 0 0;
}

p {
  text-align: right;
  color: aliceblue;
  margin: 0 0 10px 0;
  padding: 0 5px 10px;
  font-size: 18px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: aliceblue;
  font-size: 16px;
}
.weather-app {
  margin: 0;
  padding: 10px 15px 20px;
  display: block;
  max-width: 600px;
  border: 2px solid #e6bb83;
  border-radius: 5px;
  background: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
}

.current-low-high {
  text-align: center;
}

.current-temperature {
  text-align: center;
  color: aliceblue;
  font-size: 70px;
  margin-right: 5px;
  line-height: 1;
}

.current-humidity-wind {
  text-align: center;
}

.current-weather {
  color: aliceblue;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  text-transform: capitalize;
}
.units {
  position: relative;
  top: -35px;
  font-size: 18px;
}

.weather-icon {
  font-size: 50px;
  position: relative;
  top: -15px;
  margin-left: -15px;
}
